In [1]:
# Importing Dependencies

import pandas as pd
import os
from sqlalchemy import create_engine
import warnings 
warnings.simplefilter("ignore")

In [2]:
# Creating csv path and loading second data in Pandas DataFrame

csv_path = ("data/data_moods.csv")
data_mood = pd.read_csv(csv_path)
data_mood.head()

,name,album,artist,id,release_date,popularity,length,danceability,acousticness,energy,instrumentalness,liveness,valence,loudness,speechiness,tempo,key,time_signature,mood
0,1999,1999,Prince,2H7PHVdQ3mXqEHXcvclTB0,1982-10-27,68,379266,0.866,0.13700,0.730,0.000000,0.0843,0.625,-8.201,0.0767,118.523,5,4,Happy
1,23,23,Blonde Redhead,4HIwL9ii9CcXpTOTzMq0MP,2007-04-16,43,318800,0.381,0.01890,0.832,0.196000,0.1530,0.166,-5.069,0.0492,120.255,8,4,Sad
2,9 Crimes,9,Damien Rice,5GZEeowhvSieFDiR8fQ2im,2006-11-06,60,217946,0.346,0.91300,0.139,0.000077,0.0934,0.116,-15.326,0.0321,136.168,0,4,Sad
3,99 Luftballons,99 Luftballons,Nena,6HA97v4wEGQ5TUClRM0XLc,1984-08-21,2,233000,0.466,0.08900,0.438,0.000006,0.1130,0.587,-12.858,0.0608,193.100,4,4,Happy
4,A Boy Brushed Red Living In Black And White,They're Only Chasing Safety,Underoath,47IWLfIKOKhFnz1FUEUIkE,2004-01-01,60,268000,0.419,0.00171,0.932,0.000000,0.1370,0.445,-3.604,0.1060,169.881,1,4,Energetic

### Data Cleaning and Transformation

In [3]:
# Dropping unwanted columns 

data_mood.drop(["id","length","key","time_signature"], axis=1, inplace = True)

In [4]:
# Dropping rows with nan values

data_df = data_mood.dropna(axis=0)

In [5]:
# Making the artist column as the first column

first_column = data_df.pop('artist')
  
# Insert column using insert(position,column_name,first_column) function
data_df.insert(0, 'artist', first_column)

In [6]:
# Displaying the data

display(data_df)

,artist,name,album,release_date,popularity,danceability,acousticness,energy,instrumentalness,liveness,valence,loudness,speechiness,tempo,mood
0,Prince,1999,1999,1982-10-27,68,0.866,0.13700,0.7300,0.000000,0.0843,0.6250,-8.201,0.0767,118.523,Happy
1,Blonde Redhead,23,23,2007-04-16,43,0.381,0.01890,0.8320,0.196000,0.1530,0.1660,-5.069,0.0492,120.255,Sad
2,Damien Rice,9 Crimes,9,2006-11-06,60,0.346,0.91300,0.1390,0.000077,0.0934,0.1160,-15.326,0.0321,136.168,Sad
3,Nena,99 Luftballons,99 Luftballons,1984-08-21,2,0.466,0.08900,0.4380,0.000006,0.1130,0.5870,-12.858,0.0608,193.100,Happy
4,Underoath,A Boy Brushed Red Living In Black And White,They're Only Chasing Safety,2004-01-01,60,0.419,0.00171,0.9320,0.000000,0.1370,0.4450,-3.604,0.1060,169.881,Energetic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,Leo Nocta,windcatcher,windcatcher,2020-06-19,36,0.402,0.96100,0.2360,0.919000,0.0921,0.1460,-20.615,0.0603,129.736,Calm
682,Soccer Mommy,yellow is the color of her eyes,yellow is the color of her eyes,2019-11-19,5,0.452,0.75700,0.5150,0.120000,0.1400,0.1910,-7.351,0.0255,80.537,Sad
683,Tate McRae,you broke me first,you broke me first,2020-04-17,87,0.642,0.78600,0.3740,0.000000,0.0906,0.0799,-9.386,0.0545,124.099,Sad
684,Jeremy Zucker,you were good to me,brent,2019-05-03,76,0.561,0.91300,0.0848,0.000026,0.1120,0.2060,-15.099,0.0404,102.128,Sad
685,praam,æfre,æfre,2020-07-17,41,0.377,0.99400,0.0156,0.881000,0.0991,0.0804,-28.435,0.0397,140.179,Calm

### Connecting to local database

In [7]:
# Connecting to local database

protocol = 'postgresql'
username = ''
password = ''
host = 'localhost'
port = 5432
database_name = 'dataparty_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
#engine = create_engine(rds_connection_string)
engine = create_engine('postgresql+psycopg2://postgres:akinbola1984@localhost/dataparty_db')

In [8]:
# Checking for tables

engine.table_names()

['mood_data']

### Using pandas to load csv converted DataFrame into database

In [9]:
# Loading the data_moods csv dataframe into prosgresql table

data_df.to_sql(name='mood_data', con=engine, if_exists='replace', index=False)

686

### Confirming data has been added by querying the mood_data table

In [10]:
# Dispalying the mood_data table from the prosgresql database

pd.read_sql_query('select * from mood_data', con=engine).head()

,artist,name,album,release_date,popularity,danceability,acousticness,energy,instrumentalness,liveness,valence,loudness,speechiness,tempo,mood
0,Prince,1999,1999,1982-10-27,68,0.866,0.13700,0.730,0.000000,0.0843,0.625,-8.201,0.0767,118.523,Happy
1,Blonde Redhead,23,23,2007-04-16,43,0.381,0.01890,0.832,0.196000,0.1530,0.166,-5.069,0.0492,120.255,Sad
2,Damien Rice,9 Crimes,9,2006-11-06,60,0.346,0.91300,0.139,0.000077,0.0934,0.116,-15.326,0.0321,136.168,Sad
3,Nena,99 Luftballons,99 Luftballons,1984-08-21,2,0.466,0.08900,0.438,0.000006,0.1130,0.587,-12.858,0.0608,193.100,Happy
4,Underoath,A Boy Brushed Red Living In Black And White,They're Only Chasing Safety,2004-01-01,60,0.419,0.00171,0.932,0.000000,0.1370,0.445,-3.604,0.1060,169.881,Energetic

### Exporting Pandas DataFrame into csv

In [11]:
# Exporting Pandas DataFrame into csv
os.makedirs('data', exist_ok=True)  
data_df.to_csv('data/mood_data.csv', index=False)